.size1 {
  font-size: 11px;
}

.size2 {
  font-size: 13px;
}

.size3 {
  height: 30px;
  width: 30px;
}

.witt {
  width: 135px;
}

.search-sticky {
  /* Scrollable contents */
    top: 0;
    height: calc(250px - 48px);
    overflow-x: auto;
    overflow-y: auto;
}

.table-sticky2 {
  /* Scrollable contents */
    top: 0;
    height: calc(600px - 48px);
    overflow-x: auto;
    overflow-y: auto;
}

.table-sticky {
  /* Scrollable contents */
    top: 0;
    height: calc(580px - 48px);
    overflow-x: auto;
    overflow-y: auto;
}

.sidebar-sticky {
  /* Scrollable contents */
    top: 0;
    height: calc(210px - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#searchbar2 {
  height: 33px;
}

#links {
  text-decoration: none;
}

#firstPage {
  background-image: url(../images/bupc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#colorDesign {
  background-color: rgba(10, 25, 75, 1);
}

#headTitle {
  font-family: "Bahnschrift Condensed";
  width: 270px;
  margin-left: 10px;
  margin-right: 0px;
  font-size: 26px;
  line-height: 30px;
}
