.sidebar-sticky {
    /* position: relative; */
    top: 0;
    height: calc(210px - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

#links {
  text-decoration: none;
}

#firstPage {
  background-image: url(../images/bupc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#colorDesign {
  background-color: rgba(10, 25, 75, 1);
}

#headTitle {
  font-family: "Artifakt Element Hair";
}
